#signin {
    margin-top: 10px !important;
}

#reg {
    margin-right: 5px; !important;
}

#sort {
    margin-top: 10px !important;
}

#photoDiv {
    margin-left: 20px; !important;;
}

#optionTitle {
    margin-top: 10px !important;
}
