<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>ru.job4j.controller.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/auth</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>EnterServlet</servlet-name>
        <servlet-class>ru.job4j.controller.EnterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnterServlet</servlet-name>
        <url-pattern>/enter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionEnd</servlet-name>
        <servlet-class>ru.job4j.controller.SessionEnd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionEnd</servlet-name>
        <url-pattern>/out</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckSession</servlet-name>
        <servlet-class>ru.job4j.controller.SessionCheck</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckSession</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdServlet</servlet-name>
        <servlet-class>ru.job4j.controller.AdServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdServlet</servlet-name>
        <url-pattern>/ad</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>ru.job4j.controller.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectServlet</servlet-name>
        <servlet-class>ru.job4j.controller.SelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectServlet</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /home/nick/pictures
        </param-value>
    </context-param>
</web-app>